/** ==========================================================================
/** Base
/** ========================================================================== */

/** 1. Smooth scrolling */
/** 2. Font stylization */

.page-html {
  scroll-behavior: smooth;

  font-family: "Cabin", sans-serif;
  font-size: 110%;
  font-weight: 300;
  line-height: 1.4;
  color: #000000;
}

/** Common Layout */

.page-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;

  margin: 0;
  padding: 0;
}

/** ==========================================================================
/** Headings
/** ========================================================================== */

/** Margins and font stylizaion for H1 */

.page-heading {
  margin: 0.39em 0;

  font-size: 2.55em;
  font-weight: 500;
}

/** Font stylization for H2 */

.section-heading {
  position: relative;

  font-size: 1.45em;
  font-weight: 500;
  text-transform: uppercase;
}

/** Underlining by pseudo for H2 */

.section-heading::before {
  content: "";
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 1.7em;
  height: 0.15em;

  background-color: #ffc905;
}

/** Unique H2: display method, margins, font and stroke */

.special-heading {
  display: inline-block;

  margin: 0;
  padding: 0.1em 0.3em 0.2em;

  border-radius: 0.2em;

  font-size: 1.45em;
  font-weight: 500;

  background-color: #ffc905;
}

/** Font stylization for H3 */

.subsection-heading {
  font-size: 1.22em;
  font-weight: 500;
}

/** ==========================================================================
/** Links
/** ========================================================================== */

/** 1.1 Display method, margins and font for Navigation A in Header */

.nav-link {
  display: inline-block;

  position: relative;

  padding: 1em 0;

  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

/** 1.2 Underlining by pseudo for Navigation A in Header */

.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.15em;

  background-color: rgb(255, 201, 5);
  opacity: 0;

  transition: opacity 300ms, transform 300ms;
}

/** 1.3 Underlining appearance by pseudo for Navigation A in Header */

.nav-link:hover::before,
.nav-link:focus::before {
  opacity: 1;

  transform: translate3d(0, -0.5em, 0);
}

/** 2.1 Underlining for A in Contacts Section */

.contact-link {
  padding-left: 3.5em;

  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  text-underline-offset: 0.4em;

  color: #ffffff;

  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

/** 2.2 Underlining appearance by pseudo for A in Contacts Section */

.contact-link:hover,
.contact-link:focus {
  text-underline-offset: 0.3em;

  text-decoration-color: rgba(255, 201, 5, 1);
}

/** 3.1 Experience Link */

.experience-link {
  text-decoration: none;
}

.experience-link:hover .experience-name,
.experience-link:focus .experience-name {
  text-underline-offset: 0.3em;

  text-decoration-color: rgba(255, 201, 5, 1);
}

/** 4.1 Tarabrinja's GitHub Link */

.tj-link {
  margin-left: 1em;

  text-transform: uppercase;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  text-underline-offset: 0.5em;

  color: #ffffff;

  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.tj-link:hover,
.tj-link:focus {
  text-underline-offset: 0.4em;

  text-decoration-color: rgba(255, 201, 5, 1);
}

/** 5.1 Rolling Scopes School Link */

.rs-link {
  display: inline-block;
  padding: 0.2em 0.3em 0.2em 0.2em;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  text-underline-offset: 0.25em;
  background-color: #ffc905;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.rs-link:hover,
.rs-link:focus {
  text-underline-offset: 0.2em;

  text-decoration-color: rgba(0, 0, 0, 1);
}

/** ==========================================================================
/** Special Text Elements
/** ========================================================================== */

.skill-name {
  padding: 0.2em;

  font-weight: 700;

  color: #ffffff;
}

.skill-percent {
  padding: 0.2em;

  border-radius: 0.2em;

  width: 3em;

  text-align: center;

  font-weight: 700;

  background-color: #ffc905;
}

.experience-name {
  padding: 0.2em;

  font-weight: 700;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  text-underline-offset: 0.4em;

  color: #ffffff;

  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.experience-date {
  margin-right: 2em;
  padding: 0.2em;

  border-radius: 0.2em;

  width: 5.5em;

  text-align: center;
  font-weight: 700;
  color: #000000;

  background-color: #ffc905;
}

.education-paragraph {
  font-weight: 700;
  display: flex;
}

.education-name {
  font-weight: 700;
  padding: 0.2em;
}

.education-date {
  width: 5.5em;
  margin-right: 2em;
  padding: 0.2em;
  border-radius: 0.2em;
  font-weight: 700;
  color: #000000;
  background-color: #ffc905;
  text-align: center;
}

.english-level {
  font-weight: 700;
  padding: 0.2em;
  color: #ffffff;
}

.english-percent {
  padding: 0.2em;
  width: 3em;
  border-radius: 0.2em;
  font-weight: 700;
  background-color: #ffc905;
  text-align: center;
}

.copyright {
  font-weight: 700;
  color: #ffffff;
}

/** ==========================================================================
/** Sections Layout
/** ========================================================================== */

/** Header */

.page-header {
  display: flex;
  justify-content: center;

  background-color: #292935;
}

.header-container {
  display: flex;
  flex-basis: 80%;

  max-width: 1440px;
}

.header-nav {
  display: flex;
  justify-content: flex-end;

  padding: 0 2em;

  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;

  margin: 1em 0;
  padding: 0;

  list-style: none;
}

.nav-item {
  margin-left: 1em;
}

@media (max-width: 1400px) {
  .header-nav {
    justify-content: flex-start;
  }

  .nav-list {
    justify-content: flex-start;

    width: 100%;
  }

  .nav-item {
    margin-left: 0;
    margin-right: 1em;
  }
}

/** About */

.page-main {
  display: flex;
  justify-content: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;

  max-width: 1440px;
}

.section-about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-avatar-wrapper {
  position: relative;

  height: 100%;
}

.about-avatar {
  display: block;

  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .about-avatar {
    min-width: 350px;
    max-height: 350px;
  }
}

.about-avatar-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 2em;
  width: 13%;
  height: 100%;

  background-color: #ffc905;
  opacity: 70%;
}

.about-text-wrapper {
  padding: 0 2em;

  width: 50%;
}

.about-paragraph {
  padding-bottom: 1em;
}

/** Content Sections Layout */

.content-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.section {
  padding: 0 2em;

  width: 50%;
}

.section-contacts {
  order: 1;

  background-color: #292935;
}

.section-skills {
  order: 3;

  background-color: #292935;
}

.section-code {
  order: 5;

  background-color: #292935;
}

.section-experience {
  order: 2;

  background-color: #22222e;
}

.section-education {
  order: 4;

  background-color: #22222e;
}

.section-english {
  order: 6;

  background-color: #22222e;
}

@media (max-width: 1400px) {
  .section {
    width: 100%;
  }

  .section-skills {
    order: 2;
  }

  .section-code {
    order: 3;
  }

  .section-experience {
    order: 4;
  }

  .section-education {
    order: 5;
  }
}

/** Content Sections Common Stylezation */

.content-section-heading {
  color: #ffffff;
}

.content-subsection-heading {
  color: #ffffff;
}

/** Contacts */

.contacts-list {
  position: relative;

  padding: 0.7em 0;

  list-style: none;
}

.contacts-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5em;
  height: 100%;

  background-color: #ffc905;
}

.contact-item {
  padding: 0.35em 0;
}

.email-link,
.discord-link,
.telegram-link,
.github-link {
  position: relative;
}

.email-link::before {
  position: absolute;
  content: "";
  top: -0.1em;
  left: 0.5em;
  width: 1.5em;
  height: 1.5em;

  background-image: url("img/ico-email-48.png");
  background-repeat: no-repeat;
  background-size: 1.5em;
}

.discord-link::before {
  position: absolute;
  content: "";
  top: -0.1em;
  left: 0.5em;
  width: 1.5em;
  height: 1.5em;

  background-image: url("img/ico-discord-50.png");
  background-repeat: no-repeat;
  background-size: 1.5em;
}

.telegram-link::before {
  position: absolute;
  content: "";
  top: -0.1em;
  left: 0.5em;
  width: 1.5em;
  height: 1.5em;

  background-image: url("img/ico-telegram-50.png");
  background-repeat: no-repeat;
  background-size: 1.5em;
}

.github-link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0.5em;
  width: 1.5em;
  height: 1.5em;

  background-image: url("img/ico-github-50.png");
  background-repeat: no-repeat;
  background-size: 1.5em;
}

/** Skills */

.skills-list {
  padding: 0;

  list-style: none;
}

.skill-item {
  display: flex;
  justify-content: space-between;

  position: relative;

  margin-bottom: 0.4em;

  width: 16em;
}

.skill-item::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 5em;
  width: 6em;
  height: 0.15em;

  background-color: #5e5d6b;
}

.skill-html,
.skill-css,
.skill-js,
.skill-dsa,
.skill-git,
.skill-vsc,
.skill-figma {
  position: relative;
}

.skill-html::before,
.skill-css::before,
.skill-js::before,
.skill-dsa::before,
.skill-git::before,
.skill-vsc::before,
.skill-figma::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 5em;
  height: 0.15em;

  background-color: #ffc905;
}

/** value width = skill percent * scale width 6em */

.skill-html::before {
  width: 4.5em;
}

.skill-css::before {
  width: 2.7em;
}

.skill-js::before {
  width: 0.9em;
}

.skill-dsa::before {
  width: 0.3em;
}

.skill-git::before {
  width: 2.7em;
}

.skill-vsc::before {
  width: 4.5em;
}

.skill-figma::before {
  width: 4.5em;
}

/** Code */

.code-pre {
  display: flex;
}

.code-code {
  padding: 0 2em;

  background-color: #ffc905;
}

/** Experience */

.experience-paragraph {
  display: flex;
}

/** Education */

.education-list {
  padding: 0;

  list-style: none;
  color: #ffffff;
}

.education-image {
  display: block;
}

/** English */

.english-paragraph {
  display: flex;
  justify-content: space-between;

  position: relative;

  width: 19em;
}

.english-paragraph::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 8em;
  width: 6em;
  height: 0.15em;
  background-color: #5e5d6b;
}

.english-paragraph::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 8em;
  width: 2.7em;
  height: 0.15em;
  background-color: #ffc905;
}

.english-image {
  display: block;

  margin-bottom: 1em;
}

.page-footer {
  display: flex;
  justify-content: center;

  background-color: #22222e;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 80%;

  padding: 0 2em;

  max-width: 1440px;
}

.footer-paragraph {
  display: flex;
  align-items: center;
}

/** ==========================================================================
/** Outline
/** ========================================================================== */

/** Color order */

/** border: solid 1px #ff0000; red
/** border: solid 1px #008000; green
/** border: solid 1px #ffff00; yellow
/** border: solid 1px #0000ff; blue
/** border: solid 1px #ffa500; orange
/** border: solid 1px #ffc0cb; pink */

/* .nav-link {
  border: solid 1px #ffc0cb;
}

.experience-link {
  border: solid 1px #008000;
}

.page-header {
  border: solid 1px #ff0000;
}

.header-container {
  border: solid 1px #ffff00;
}

.header-nav {
  border: solid 1px #008000;
}

.nav-list {
  border: solid 1px #ffa500;
}

.nav-item {
  border: solid 1px #0000ff;
}

.page-main {
  border: solid 1px #ff0000;
}

.page-container {
  border: solid 1px #ffff00;
}

.section-about {
  border: solid 1px #008000;
}

.about-avatar-wrapper {
  border: solid 1px #ffa500;
}

.about-text-wrapper {
  border: solid 1px #ffa500;
}

.page-heading {
  border: solid 1px #0000ff;
}

.special-heading {
  border: solid 1px #0000ff;
}

.section-heading {
  border: solid 1px #0000ff;
}

.about-paragraph {
  border: solid 1px #0000ff;
}

.content-container {
  border: solid 1px #008000;
}

.section {
  border: solid 1px #ffa500;
}

.content-subsection-heading {
  border: solid 1px #0000ff;
}

.contacts-list {
  border: solid 1px #008000;
}

.skills-list {
  border: solid 1px #008000;
}

.skill-item {
  border: solid 1px #ffff00;
}

.skill-name {
  border: solid 1px #ff0000;
}

.skill-percent {
  border: solid 1px #ff0000;
}

.code-pre {
  border: solid 1px #008000;
}

.code-code {
  border: solid 1px #ffff00;
}

.experience-paragraph {
  border: solid 1px #ffff00;
}

.experience-date {
  border: solid 1px #ff0000;
}

.experience-name {
  border: solid 1px #ff0000;
}

.education-list {
  border: solid 1px #008000;
}

.education-item {
  border: solid 1px #ffff00;
}

.education-paragraph {
  border: solid 1px #ffa500;
}

.education-date {
  border: solid 1px #ff0000;
}

.education-name {
  border: solid 1px #ff0000;
}

.education-image {
  border: solid 1px #ffa500;
}

.english-paragraph {
  border: solid 1px #ffff00;
}

.english-level {
  border: solid 1px #ff0000;
}

.english-percent {
  border: solid 1px #ff0000;
}

.english-image {
  border: solid 1px #ffff00;
}

.page-footer {
  border: solid 1px #ff0000;
}

.footer-container {
  border: solid 1px #ffa500;
}

.footer-paragraph {
  border: solid 1px #008000;
}

.copyright {
  border: solid 1px #ffff00;
}

.tj-link {
  border: solid 1px #ffff00;
}

.rs-link {
  border: solid 1px #ffff00;
} */
