/** ==========================================================================
/** Base
/** ========================================================================== */

/** 1. Smooth scrolling */
/** 2. Font stylization */

.page-html {
  scroll-behavior: smooth;
  font-family: "Cabin", sans-serif;
  font-size: 110%;
  font-weight: 300;
  line-height: 1.2;
  color: #000000;
}

/** ==========================================================================
/** Headings
/** ========================================================================== */

/** Page Heading */

.page-heading {
  font-size: 2.55em;
  font-weight: 500;
}

/** Section Heading */

.section-heading {
  position: relative;
  font-size: 1.45em;
  font-weight: 500;
  text-transform: uppercase;
}

.section-heading::before {
  content: "";
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 1.7em;
  height: 0.15em;
  background-color: #000000;
}

/** Special Heading */

.special-heading {
  display: inline-block;
  padding: 0.1em 0.3em 0.2em;
  border-radius: 0.2em;
  font-size: 1.45em;
  font-weight: 500;
  background-color: #ffc905;
}

/** Subsection Heading */

.subsection-heading {
  font-size: 1.22em;
  font-weight: 500;
}

/** ==========================================================================
/** Links
/** ========================================================================== */

/** Navigation Link */

.nav-link {
  display: inline-block;
  position: relative;
  padding: 1em 0;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15em;
  background-color: #ffc905;
  opacity: 0;
  transition: opacity 400ms, transform 400ms;
}

.nav-link:hover::before,
.nav-link:focus::before {
  opacity: 1;
  transform: translate3d(0, -0.5em, 0);
}

/** Contact Link */

.contact-link {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  text-underline-offset: 0.2em;
  color: #000000;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.contact-link:hover,
.contact-link:focus {
  text-decoration-color: rgba(0, 0, 0, 1);
  text-underline-offset: 0.3em;
}

/** Tarabrinja's GitHub Link */

.tj-link {
  text-transform: uppercase;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  text-underline-offset: 0.2em;
  color: #000000;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.tj-link:hover,
.tj-link:focus {
  text-decoration-color: rgba(0, 0, 0, 1);
  text-underline-offset: 0.3em;
}

/** Rolling Scopes School Link */

.rs-link {
  display: inline-block;
  padding: 0.2em 0.3em 0.2em 0.2em;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #ffc905;
}

/** ==========================================================================
/** Special Text Elements
/** ========================================================================== */

.skill-name {
  font-weight: 700;
}

.skill-percent {
  display: inline-block;
  padding: 0.1em 0.3em 0.2em;
  border-radius: 0.2em;
  font-weight: 700;
  background-color: #ffc905;
}

.experience-name {
  font-weight: 700;
}

.experience-date {
  display: inline-block;
  padding: 0.1em 0.3em 0.2em;
  border-radius: 0.2em;
  font-weight: 700;
  background-color: #ffc905;
}

.education-paragraph {
  font-weight: 700;
}

.education-name {
  font-weight: 700;
}

.education-date {
  display: inline-block;
  padding: 0.1em 0.3em 0.2em;
  border-radius: 0.2em;
  font-weight: 700;
  background-color: #ffc905;
}

.copyright {
  font-weight: 700;
}

/** ==========================================================================
/** Sections Layout
/** ========================================================================== */

/** Header */

.page-header {
  display: flex;
  justify-content: center;
  background-color: #292935;
}

.container {
  display: flex;
  flex-basis: 80%;
  max-width: 1440px;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0;
  margin: 1em 0;
  list-style: none;
}

/** Header */

/* border: solid 1px #ff0000;
border: solid 1px #ffff00;
border: solid 1px #008000; */
